services:
  # Base de données unifiée
  postgres:
    image: postgres:16-alpine
    container_name: timescope-postgres
    environment:
      POSTGRES_DB: timescope_db
      POSTGRES_USER: svc_timescope
      POSTGRES_PASSWORD: TimeScopeSecurePassword123!
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U svc_timescope -d timescope_db" ]
      interval: 10s
      timeout: 5s
      retries: 5

  # pgAdmin pour la gestion de la base de données
  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: timescope-pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@timescope.com
      PGADMIN_DEFAULT_PASSWORD: admin
      PGADMIN_CONFIG_SERVER_MODE: 'False'
    ports:
      - "5050:80"
    depends_on:
      - postgres
    volumes:
      - pgadmin_data:/var/lib/pgadmin

  # Backend API
  timescope-api:
    build:
      context: .
      dockerfile: TimeScope.API/Dockerfile
    container_name: timescope-api
    ports:
      - "8080:8080"
    environment:
      - ConnectionStrings__DefaultConnection=Host=postgres;Port=5432;Database=timescope_db;Username=svc_timescope;Password=TimeScopeSecurePassword123!;
      - ASPNETCORE_ENVIRONMENT=Development
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    depends_on:
      postgres:
        condition: service_healthy

  # Frontend React App
  timescope-frontend:
    build:
      context: TimeScope.Frontend
      dockerfile: Dockerfile
    container_name: timescope-frontend

    depends_on:
      - timescope-api
volumes:
  postgres_data:
  pgadmin_data:
